.root {
  padding: 1.5rem 0 1rem 0;
  display: grid;
  grid-template-columns: 1fr auto;
}
.root textarea {
  padding: 0.7rem;
  outline: none;
  font-size: 1rem;
  font-family: inherit;
}
.root button {
  padding: 1rem;
  width: 80px;
  font-size: 1rem;
  cursor: pointer;
}
