* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: calc(100vh);
  overflow: auto;
  background: #355c7d;
  background: -webkit-linear-gradient(to left, #c06c84, #6c5b7b, #355c7d);
  background: linear-gradient(to left, #c06c84, #6c5b7b, #355c7d);
}
a {
  text-decoration: none;
  color: inherit;
}
